.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content-confirm-cancel {
    background: #fff;
    border-radius: 8px;
    width: 300px;
    text-align: center;
  }
  
  .modal-header-confirmar-cancelacion {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #d32f2f;
    flex-direction: column;
  padding: .3em;
  background-color: black;
  }
  
  .modal-warning-icon {
    font-size: 1.5rem;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .confirm-button {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancel-button {
    background-color: #f5f5f5;
    color: #333;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .texto-confirmar-cancelacion{
    color: black;
  font-size: 1.2em;
  }

  .confirm-button:hover{
    color: white;
  }

  .titulo-confirmar-cancelacion{
    color: white!important;
    margin: 0px!important;
    margin-bottom: .3em!important;
  }