.icon-text {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Espacio entre el ícono y el texto */
}

/* Ajustes para inputs y selects en Safari/iOS */
.class-crear-reserva-form-input,
.class-crear-reserva-form-select {
  color: black; /* Asegura color negro */
  -webkit-text-fill-color: black; /* Safari iOS */
}

/* Contenedor principal del formulario */
.class-crear-reserva-form-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100vw;
  box-sizing: border-box;
}

/* Etiquetas */
.class-crear-reserva-form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.class-crear-reserva-form-input,
.class-crear-reserva-form-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Estilo de los mensajes de error */
.error-text {
  color: red;
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* Ajuste para evitar zoom en iPhone */
input[type="text"],
input[type="date"],
select,
button {
  font-size: 16px; /* Tamaño de fuente para evitar zoom en iOS */
}

/* Botón de envío */
.class-crear-reserva-form-button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #6200ea67 0 -3px 0 inset;
  box-sizing: border-box;
  color: #FCFCFD;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 36px;
  justify-content: center;
  line-height: 1;
  text-transform: uppercase;
  border: 2px solid #6200ea86;
  background-color: #6200ea88;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.class-crear-reserva-form-button:hover {
  background-color: #6200eac9;
  color: #FCFCFD;
}

/* Lista de sugerencias */
.class-crear-reserva-form-suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background-color: #fff;
  width: 100%;
  z-index: 1;
}

.class-crear-reserva-form-suggestion-item {
  padding: 10px;
  cursor: pointer;
  color: #333;
}

.class-crear-reserva-form-suggestion-item:hover {
  background-color: #f0f0f0;
}

/* Adaptación para dispositivos móviles */
@media (max-width: 768px) {
  .class-crear-reserva-form-container {
    padding: 15px;
    box-shadow: none;
  }
  .class-crear-reserva-form-label,
  .class-crear-reserva-form-input,
  .class-crear-reserva-form-select {
    font-size: 0.9rem;
    padding: 8px;
  }
}

@media screen and (max-width: 480px) {
  .class-crear-reserva-form-container {
    padding: 15px;
  }
  .class-crear-reserva-form-label,
  .class-crear-reserva-form-input,
  .class-crear-reserva-form-select {
    font-size: 0.85rem;
    padding: 8px;
  }
}
