.modal-content-credential-modal{
    background: white;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}


.title-content-credential-modal{
    font-size: 1.3em;
    padding: .5em;
}

.modal-content-credential-confirm-button{
    background-color: #007bff;
    width: 45%;

}
.modal-content-credential-close-button{
    width: 45%;
    background-color: orange;
}

.modal-content-credential-close-button:hover{
    color: white;
}

.modal-content-credential-confirm-button-box{
    display: flex;
  justify-content: space-around;
  margin-bottom: .5em;
}