.modal-content-reservations{
    background: white;
    padding: 0px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.reservations-modal-titulo{
  padding: .5em;
  background: black;
  color: white !important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em !important;
}

.modal-close-button{
    width: 60%;
  margin-bottom: .3em;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: .8em;
}