@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* Estilos para la modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content-miguel {
    background: linear-gradient(135deg, #182b4f 0%, #57097d 50%, #f64f59 100%);
    color: #fff;
    border-radius: 10px;
    max-width: 500px;
    width: 95%;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-top: 0;
  }

  .modal-content-jessica {
    background: linear-gradient(135deg, #182b4f 0%, #57097d 50%, #f64f59 100%);
    color: #fff;
    border-radius: 10px;
    max-width: 500px;
    width: 95%;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-top: 0;

  }
  
  .modal-content-miguel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 115%;
    height: 100%;
    background-image: url('../../../public/images/trainer_two-sin-fondo.png'); /* Imagen de fondo común */
    background-size: contain;
    background-position: right;
    opacity: 0.9; /* Mantener la imagen más transparente */
    z-index: 0;
    background-repeat: no-repeat;
  }

  .modal-content-jessica::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 100%;
    background-image: url('../../../public/images/trainer_one_sin_fondo.png'); /* Imagen de fondo común */
    background-size: contain;
    background-position: right;
    opacity: 0.9; /* Mantener la imagen más transparente */
    z-index: 0;
    background-repeat: no-repeat;
  }
  
  .modal-header-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: transparent;
  }
  
  .modal-close {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  button:hover{
    color: red;
  }
  
  .modal-header {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    position: relative;
    z-index: 1;
    text-align:left;
    padding-left: 20px;
  }
  
  .modal-title-jessica {
    font-size: 2.9rem;
    letter-spacing: 4px;
    margin-bottom: 0px;
    max-width: 60%;
    font-family: 'Bebas Neue', sans-serif;
    color: floralwhite;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: chocolate;
  }

  .modal-title-miguel {
    font-size: 2.9rem;
    letter-spacing: 4px;
    margin-bottom: 0px;
    max-width: 60%;
    font-family: 'Bebas Neue', sans-serif;
    color: floralwhite;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: steelblue;
  }
  
  .modal-subtitle {
    font-size: 1rem;
    color: gold;
    margin-top: 5px;
  }
  
  .modal-body {
    padding: 10px;
    background: rgba(9, 13, 40,0.7); /* Fondo semitransparente para el texto */
    margin-top: 15px;
    position: relative;
    z-index: 1;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .modal-description {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #fff;
    text-align: justify;
  }
  
  .modal-list {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .modal-list h4 {
    color: darkturquoise;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.1em;
  margin-bottom: 10px;
  }
  
  .modal-job-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #bbb;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  
  .modal-job-list li {
    margin-bottom: 8px;
    padding: 5px 0.6em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  color: white;
  }

  
  @media (max-width: 373px) {

    .modal-content-jessica::before {
      width: 130%;
    }

    .modal-title-jessica{
      max-width: 80%;
    }

    .modal-title-miguel{
      max-width: 80%;
    }

    .modal-description {
      font-size: 0.8rem;
    }

    .modal-job-list li {
      font-size: 0.7em;
    }
}
  

  @media (max-width: 400px) and (min-width: 374px ){


      .modal-content-jessica::before {
        width: 120%;
      }

      .modal-title-jessica {
        max-width: 57%;
      }

      .modal-title-miguel {
        max-width: 57%;
      }

      .modal-description {
        font-size: 0.8rem;
      }

      
    .modal-job-list li {
      font-size: 0.7em;
    }
  }

  @media (min-width: 500px) {

    .modal-title-jessica {
      max-width: 40%;
    }

    .modal-title-miguel {
      max-width: 40%;
    }


  

    .modal-job-list li {
    font-size: 0.8em;
    }
}


  .objetivo-trainer-text{
    color: lightyellow;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.1em;
  margin-bottom: 5px;
  }

  .modal-trainer-clases-favoritas-box{
    display: block;
  width: 98%;
  }

  .tipo-fuerza-modal-trainer {
    background: linear-gradient(135deg, #182b4f 0%, #182b4f 50%, #f64f59 100%);
    border: 0.5px solid red;
  }
  
  .tipo-mente-modal-trainer {
    background: linear-gradient(135deg, #243b55 0%, #243b55 50%, #70e1f5 100%);
    border: 1px solid #70e1f5;
  }
  
  .tipo-relajacion-modal-trainer {
    background: linear-gradient(135deg, #1d2b53 0%, #1d2b53 50%, #ff6f61 100%);
    border: 1px solid #ff6f61;
  }
  
  .tipo-cardio-modal-trainer {
    background: linear-gradient(135deg, #0f2027 0%, #0f2027 50%, #2193b0 100%);
    border: 1px solid #ff6f61;
  }

  .modal-trainer-favoritas{
    background: steelblue;
  color: white;
  padding-left: 1%;
  padding-right: 1%;
  }
  
  