/* Estilos del Navbar */

/* Estilo principal del navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem;
  font-family: 'Helvetica Neue', sans-serif;
  position: relative;
}

/* Nombre de la app */
.app-name h1 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #f3f3f3;
}

/* Enlaces de navegación para pantallas grandes, alineados a la derecha */
.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin-left: auto; /* Empuja los enlaces hacia la derecha */
}

.nav-link {
  color: #f3f3f3;
  text-decoration: none;
  font-size: 0.8rem;
  transition: color 0.3s ease;
  display: flex;
  flex-direction: column;
  border-radius: 5px; /* Bordes redondeados */
}

.nav-link:hover {
  color: #6200ea; /* Color de hover */
  background-color: rgba(98, 0, 234, 0.1); /* Fondo ligero al hacer hover */
}

/* Estilos del menú hamburguesa para pantallas móviles */
.hamburger-menu {
  display: none;
  z-index: 1001; /* Asegura que el botón esté sobre el menú */
  position: absolute; /* Mantiene el botón encima del menú lateral */
  right: 20px;
}

.hamburger-icon {
  font-size: 2rem;
  color: #f3f3f3;
  cursor: pointer;
}

/* Menú lateral para pantallas móviles con animación */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%; /* Empieza fuera de la pantalla */
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.98);
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea los enlaces centrados */
  padding: 20px;
  z-index: 1000;
  transition: right 0.5s ease; /* Transición suave */
}

.mobile-menu.active {
  right: 0; /* Aparece desde la derecha */
}

/* Ícono de cerrar en la parte superior derecha */
.close-icon {
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 2rem;
}

/* Enlaces de navegación en el menú móvil */
.mobile-nav-links {
  list-style: none;
  width: 100%; /* Los enlaces ocuparán todo el ancho */
}

.mobile-nav-links li {
  width: 100%; /* Los elementos <li> ocuparán el ancho completo */
  margin-bottom: 1rem; /* Espacio entre los <li> */
}

.mobile-nav-links li a {
  display: block; /* Hacer que todo el <a> ocupe el bloque completo */
  padding: 15px; /* Padding dentro de cada <a> */
  border: 1px solid white; /* Bordes alrededor de cada <li> */
  border-radius: 5px; /* Bordes redondeados */
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center; /* Centra el contenido */
  transition: color 0.3s ease, background-color 0.3s ease;
}

.mobile-nav-links li a:hover {
  background-color: rgba(98, 0, 234, 0.9); /* Fondo suave al hacer hover */
  color: white; /* Cambia el color del texto al hacer hover */
}

/* Mostrar el menú hamburguesa solo en pantallas móviles */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Ocultar enlaces en pantallas móviles */
  }

  .hamburger-menu {
    display: block; /* Mostrar el botón hamburguesa en móviles */
  }
}

/* Contenedor de actividades */
.activity {
  background-color: #f5f5f5;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo del contenedor de botones */
.activity-buttons {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
}

/* Botón de edición */
.edit-button, .view-button {
  background-color: #FFD700; /* Fondo amarillo */
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

/* Hover para los botones */
.edit-button:hover, .view-button:hover {
  background-color: #FFC107; /* Fondo más oscuro en hover */
}

/* Botón de ver detalles */
.view-button {
  background-color: #32CD32; /* Fondo verde */
}

.view-button:hover {
  background-color: #28a745; /* Fondo verde más oscuro en hover */
}

.suscription-type{
  font-size: 0.65em;
  color: yellow;
}

.nav-icon{
  padding-right: 0.4em;
}

.name-icon-navbar{
  padding-top: 4px;
}

.nav-link-iniciar-sesion{
  color: #f3f3f3;
  text-decoration: none;
  font-size: 0.8rem;
  transition: color 0.3s ease;
  border-radius: 5px; /* Bordes redondeados */
  border: 2px solid black;
  padding: 0.5em 1em;
  color: white;
  background-color: #6200ea;
}

.nav-link-iniciar-sesion span{
margin-top: .3em;
}

