/* Contenedor principal del formulario */
.planificacion-form-container {
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100vw; /* Ancho adaptable para móviles */
  box-sizing: border-box;
  overflow-x: hidden; /* Evitar scroll horizontal */
}

/* Etiquetas */
.planificacion-form-label {
  font-size: 1rem;
  color: #333;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

/* Campos de entrada y selectores */
.planificacion-form-input,
.planificacion-form-select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  color: black;
  -webkit-text-fill-color: black; /* Corregir color en Safari */
}

/* Ajuste de color y tamaño de fuente en Safari */
@supports (-webkit-touch-callout: none) {
  .planificacion-form-input,
  .planificacion-form-select {
    font-size: 1rem;
    color: black !important;
    -webkit-text-fill-color: black !important;
  }

  .planificacion-form-label-inline-span {
    width: 60%; /* Ajuste específico para Safari */
  }
}

.planificacion-form-input:focus,
.planificacion-form-select:focus {
  border-color: #007bff;
  outline: none;
}

/* Ajustes para evitar zoom en dispositivos móviles al hacer clic en los campos */
input[type="date"],
input[type="time"],
select,
button {
  font-size: 16px; /* Tamaño de fuente para evitar zoom en iOS */
}

/* Checkbox */
.planificacion-form-checkbox {
  transform: scale(1.2);
  margin: 0;
  accent-color: #6200eac9; /* Cambia el color del checkbox */
  width: 20%;
}

/* Botón de enviar */
.planificacion-form-button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#6200ea67 0 -3px 0 inset;
  box-sizing: border-box;
  color: #FCFCFD;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 36px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1em;
  margin-bottom: 10px;
  text-transform: uppercase;
  border: 2px solid #6200ea86;
  background-color: #6200ea88;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.planificacion-form-button:hover {
  background-color: #6200eac9;
  color: #FCFCFD;
}

/* Estilos específicos para pantallas grandes (desktop) */
@media (min-width: 768px) {
  .planificacion-form-container {
    padding: 2rem;
  }

  .planificacion-form-label {
    font-size: 1.1rem;
  }

  .planificacion-form-button {
    font-size: 1.1rem;
    padding: 0.8rem;
  }
}

/* Estilos específicos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  .planificacion-form-container {
    padding: 1rem;
    max-width: 100%; /* Ajuste del ancho para evitar overflow */
    margin: auto;
  }

  .planificacion-form-label {
    font-size: 0.9rem;
  }

  .planificacion-form-input,
  .planificacion-form-select {
    font-size: 0.9rem;
    padding: 0.4rem;
  }

  .planificacion-form-button {
    font-size: 1rem;
    padding: 0.6rem;
  }
}

/* Ajustes adicionales para iPhone */
@media screen and (max-width: 480px) {
  .planificacion-form-container {
      padding: 15px;
  }

  .planificacion-form-label {
      font-size: 0.85rem;
  }

  .planificacion-form-input,
  .planificacion-form-select {
      font-size: 0.85rem;
      padding: 0.3rem;
  }

  .planificacion-form-button {
      font-size: 0.95rem;
      padding: 0.5rem;
  }

  /* Ajuste de escala del checkbox para dispositivos pequeños */
  .planificacion-form-checkbox {
      transform: scale(1);
  }
}

/* Estilo de etiquetas para checkboxes en línea */
.planificacion-form-label-inline {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  gap: 0.5rem; /* Espacio entre el checkbox y el texto */
  margin-bottom: 15px; /* Espaciado inferior entre los checkboxes */
  width: 100%;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.planificacion-form-label-inline-span {
  width: 65%;
}

.planificacion-form-input {
  width: 35%;
}

/* Checkbox */
.planificacion-form-checkbox {
  transform: scale(1.2);
  margin: 0;
  accent-color: #6200eac9; /* Cambia el color del checkbox */
}

.planificacion-form-sub-title{
  text-align: center;
  border-bottom: 2px solid #6200ea;
  margin-bottom: 1rem;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Espacio entre el icono y el texto */
  width: 60%;
}