/* Estilos generales */
.reservation-list {
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    min-height: 87vh;
    padding-bottom: 5em;
}

/* Estilos para la tabla en pantallas grandes */
.reservation-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
}

.reservation-table th, .reservation-table td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.reservation-table th {
    background-color: #6200ea;
    color: white;
    font-weight: bold;
    text-align: center;
}

.reservation-table td {
    text-align: center;
}

.reservation-table tr:hover {
    background-color: #f0f0f0;
}

/* Botones de acción */
.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.view-button, .edit-button {
    padding: 0.5rem;
    background-color: #32CD32;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.edit-button {
    background-color: #FFD700;
}

.view-button:hover {
    background-color: #28a745;
}

.edit-button:hover {
    background-color: #FFC107;
}

/* Estilos de tarjetas (tickets) para pantallas pequeñas */


    .reservation-list {
        margin: 0;
        padding: 0.5rem;
        background-color: #f5f5f5;
        border-radius: 8px;
        padding-bottom: 5em;
    }

    .reservation-table {
        display: none;
    }

    .reservation-card {
        display: flex;
        max-width: 400px;
        border: 1.2px solid grey;
        border-radius: 8px;
        margin-bottom: 2rem;
        background-color: #fbfbfb;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 15px auto;
        position: relative; /* Para posicionar el botón flotante */
    }

    /* Parte izquierda del ticket */
    .reservation-card-left {
        width: 70%;
        
        color: black;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.2); /* Fondo de la izquierda */
    }

    .class-name {
        font-weight: bold;
        font-size: 1.1rem;
        margin-bottom: .6rem;
        text-transform: uppercase;
        padding: 0px;
        padding-top: 0.5rem;
        padding-left: 1rem;
        letter-spacing: 0.14em;
        text-align: center;
    }

    .class-id {
        font-weight: bold;
        font-size: 1rem;
        border-top-left-radius: 8px;
        text-transform: uppercase;
        background-color: rgba(255, 255, 255, 0.6);
        display: block;
        border-bottom: 1px dashed #ccc;
        padding: 0.5em;
        padding-left: 0.6em;
    }

    .reservation-details {
        font-size: 0.9em;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 0px;
    }

    /* Parte derecha del ticket */
    .reservation-card-right {
        width: 30%;
        padding: 1rem;
        border-left: 1px dashed #ccc;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .reservation-time {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .qr-button-container {
        margin-top: 1rem;
    }

    .qr-button {
        background-color: #6200ea;
        color: white;
        padding: 0.7rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        width: 100%;
    }

    .qr-button:hover {
        background-color: #3700b3;
    }

    /* Botón de eliminar flotante en la parte superior derecha */
    .delete-button-floating {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: #ff6347;
        color: white;
        border: none;
        border-radius: 50%;
        padding: 0.3rem;
        font-size: 0.9rem;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
        display: block;
    width: 28px;
    }

    .delete-button-floating:hover {
        background-color: #ff4500;
    }

    .reservations-list-cards{
        display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
    }


/* Ocultar tarjetas en pantallas grandes */
@media (min-width: 769px) {

}

/* Barra de búsqueda */
.search-container {
    margin-bottom: 1.5rem;
    text-align: center;
}

.search-container-reserva{
    margin-bottom: .1rem;
}

.search-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.search-icon {
    margin-right: 0.5rem;
}

.search-input {
    width: 100%;
    padding: 0.5rem;
    border: 1.2px solid black;
    border-radius: 4px;
    font-size: 1rem;
}

.text-ver-qr{
    font-size: 0.7em;
  display: block;
}

.reservation-span{
    display: flex;
    flex-direction: column;
}

.disabled-card {
    background-color: #f0f0f0;
    color: #9e9e9e;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  
  .modal-close-button {
    margin-top: 15px;
    background: #6200ea;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-close-button:hover {
    background: #3700b3;
  }

  .qr-button-disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
  }

  .reload-button{
    align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#6200ea67 0 -3px 0 inset;
  box-sizing: border-box;
  color: #FCFCFD;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 36px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1em;
  margin-bottom: 10px;
  text-transform: uppercase;
  border: 2px solid #6200ea86;
  background-color: #f6bb1a;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 50%;
  max-width: 170px;
  color: purple;
  font-size: .9em;
  letter-spacing: .5px;
  }

  .reload-button-container{
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .reload-button-text{
    margin-left: .4em;
  }
  
  .reservations-modal-titulo{
    font-size: 1.2em;
  }

  .reservations-modal-texto{
    font-size: 1.1em;
  }

