/* Sección del formulario */
.SectionFive {
    background-color: black; /* Fondo negro */
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4); /* Sombra suave */
  }
  
  .SectionFive-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    margin-top: 40px;
    color: white;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  /* Formulario */
  .SectionFive-form {
    display: grid;
    gap: 20px;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    grid-template-columns: 1fr 1fr; /* Siempre dos columnas */
  }
  
  /* Grupo de formulario con iconos */
  .SectionFive-form-group {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .SectionFive-form-group label {
    margin-bottom: 6px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  /* Inputs con padding para los iconos */
  .SectionFive-form-group input,
  .SectionFive-form-group select {
    padding: 10px 15px 10px 40px; /* Espacio adicional a la izquierda para el icono */
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 0.9rem;
    background-color: #1a1a1a;
    color: white;
    transition: border-color 0.3s ease;
    background-color: rgb(234, 55, 123, .1);
  border: 0.1px solid rgba(234, 55, 123, 0.4);
  }
  
  /* Iconos dentro de los inputs */
  .SectionFive-form-group .icon {
    position: absolute;
    left: 10px; /* Mejor ajuste para iconos pequeños */
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 1.2rem;
  }
  
  .SectionFive-form-group input:focus,
  .SectionFive-form-group select:focus {
    border-color: #00ff87;
    outline: none;
  }
  
  .SectionFive-form-group input::placeholder,
  .SectionFive-form-group select::placeholder {
    color: #ccc;
  }
  
  /* Botón de envío */
  .SectionFive-submit-button {
    padding: 15px;
    background-color: #ea377b;
    color: #0a0a0a;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 46%;
  margin: auto;
  color: white;
  }
  
  .SectionFive-submit-button:hover {
    background-color: #00d976;
    transform: translateY(-3px);
  }
  
  /* Responsividad para móviles */
  @media (max-width: 768px) {
    .SectionFive-form {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      padding: 30px 10px;
    }
  
    .SectionFive-submit-button {
      grid-column: span 2; /* Botón ocupa todo el ancho en móviles */
    }
  }
  
  /* Responsividad para tabletas */
  @media (min-width: 768px) and (max-width: 1024px) {
    .SectionFive-form {
      grid-template-columns: 1fr 1fr;
    }
  
    .SectionFive-form-group {
      margin-bottom: 15px;
    }
  
    .SectionFive-submit-button {
      grid-column: span 2;
    }
  }
  
  /* Estilos para pantallas grandes (escritorio) */
  @media (min-width: 1024px) {
    .SectionFive-form {
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }
  
    .SectionFive-submit-button {
      grid-column: span 2;
      width: 100%;
    }
  }
  