/* Estilos para SectionThree */

/* Contenedor general */
.section-three {
  background-color: #000;
  padding: 20px 20px;
  color: white;
}

.section-three-image {
  max-width: 360px;
}

.section-three-trainer-name{
  text-align: center;
  padding-top: 5px;
  font-size: 1.1em;
  letter-spacing: 1px;
  font-weight: bold;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-transform: uppercase;
  color: white;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgba(234, 55, 123, 0.4);
  border-top: none;
  background-color: rgb(234, 55, 123, .1);
}

/* Contenedor de cada bloque (info + imagen) */
.section-three-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

/* Estilos para el texto */
.section-three-title {
  color: #ea377b;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.section-three-description {
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 600px;
  text-align: justify;
}

/* Imagen de cada bloque */
.section-three-image {
  margin: 20px 0;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

/* Estilo para imágenes de fondo de los entrenadores */
.trainer-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: top;
}

/* Específicos para cada entrenador */
.trainer-one {
  background-image: url('../../../public/images/trainer_two.jpg');
}

.trainer-two {
  background-image: url('../../../public/images/trainer_one.jpg');
}

/* Estilos para pantallas de tabletas y ordenadores */
@media (min-width: 768px) {
  .section-three-container {
      flex-direction: row;
      justify-content: space-between;
  }

  .section-three-info,
  .section-three-image {
      flex: 1;
      max-width: 50%;
      padding: 20px;
  }

  .section-three-description {
      text-align: left;
      margin-right: 20px;
  }

  /* Carrusel */
.carousel-container {
  width: 54%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-container {
  width: 45%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
}

@media (min-width: 1024px) {
  .section-three-title {
      font-size: 2.5rem;
  }

  .section-three-description {
      font-size: 1.3rem;
  }

  .trainer-image {
      max-width: 550px;
  }
}


@media (max-width: 450px) {
  .trainer-image {
    height: 340px;
}
}

@media (min-width: 451px) and (max-width: 767px) {
  .trainer-image {
    width: 57%;
    margin:auto;
}
}

/* Añadir efecto al hacer clic */
.clickable {
  cursor: pointer;
}

@media (max-width: 450px) {
  .section-three-container {
    flex-direction: column-reverse; /* Cambia el orden, imágenes debajo del texto */
  }

  .section-three-info {
    order: 2; /* Asegura que el texto esté primero */
  }
}

.carousel-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  background-size: cover;
  background-position: center;
  transition: left 0.5s ease-in-out;
}

.carousel-slide.active {
  left: 0;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 450px) {
  .carousel-container {
    height: 200px;
  }
}



.carousel-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  background-size: cover;
  background-position: center;
  transition: left 0.5s ease-in-out;
}

.carousel-slide.active {
  left: 0;
}

/* Cada una de las imágenes de fondo */
.slide-0 {
  background-image: url('../../../public/images/Balance.jpg');
}

.slide-1 {
  background-image: url('../../../public/images/BodyCom.jpg');
}

.slide-2 {
  background-image: url('../../../public/images/Cross.jpg');
}

.slide-3 {
  background-image: url('../../../public/images/TrainNow.jpg');
}

.slide-4 {
  background-image: url('../../../public/images/BodyPom.jpg');
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 450px) {
  .carousel-container {
    height: 200px;
  }
}


@media (max-width: 768px) {

  /* Carrusel */
.carousel-container {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 30px;
}
}

/* Efecto tilt */
.section-three-image {
  perspective: 1000px; /* Añade profundidad 3D */
  transition: transform 0.2s ease-out; /* Transiciones suaves */
}

.trainer-image {
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
  transform-style: preserve-3d; /* Mantener el estilo 3D */
}

.section-three-image.clickable:hover .trainer-image,
.section-three-image.clickable:focus .trainer-image,
.section-three-image.clickable:active .trainer-image {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra en interacción */
}

.section-three-image {
  width: 100%;
  height: 100%;
}





