/* Sección general */
.SectionFive {
    background-color: black;
    padding: 10px;
    max-width: 400px; /* Reducir el tamaño máximo para móvil */
    margin: 0 auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    text-align: center;/* Reducir el tamaño máximo para móvil */
  padding-top: 20px;
  margin-top: 30px;
  margin-bottom: 42px;
}

.input-error{
    border: 2px solid red;
  }

.SectionFive-title {
    color: white;
    font-size: 2em;
    margin-bottom: 2px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* Carrusel de suscripciones */
.SectionFive-subscription-carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    background-color: #1a1a1a;
    max-width: 100%;
    white-space: nowrap;
    scrollbar-width: thin;
    max-width: 300px;
    margin: auto;
    min-width: 300px;
}

.SectionFive-subscription-carousel::-webkit-scrollbar {
    height: 8px; /* Alto de la barra de desplazamiento */
}

.SectionFive-subscription-carousel::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del scroll */
    border-radius: 10px;
}

.SectionFive-carousel {
    display: flex;
    gap: 10px;
}

.SectionFive-card {
    display: inline-block; /* Asegurar que las tarjetas se comporten como elementos en línea */
    min-width: 120px; /* Tamaño reducido para tarjetas en móvil */
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    flex-shrink: 0; /* Evita que se encoja */
    white-space: normal;
    text-transform: uppercase;
    font-size: 0.6em;
}

.SectionFive-card.selected {
    background-color: #00d976;
    color: black;
}

.SectionFive-card:hover {
    transform: scale(1.05);
}

/* Formulario */
.SectionFive-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 10px;
    max-width: 360px;
    margin: auto;
}

.SectionFive-form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%; /* Asegura que los inputs no superen el ancho del formulario */
}

.SectionFive-form-group label {
    color: white;
    margin-bottom: 6px;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
}

.SectionFive-form-group input,
.SectionFive-form-group select {
    padding: 10px 15px 10px 40px;
    background-color: #1a1a1a;
    border: 2px solid #333;
    border-radius: 5px;
    color: white;
    font-size: 0.9rem;
    max-width: 100%; /* Limitar el ancho al tamaño del contenedor padre */
    box-sizing: border-box; /* Asegura que padding y borde se incluyan en el ancho total */
}

.SectionFive-form-group .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 1rem;
}

.SectionFive-submit-button {
    padding: 10px;
    background-color: #ea377b;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
}

.SectionFive-submit-button:hover {
    background-color: #00d976;
}

/* Responsividad adicional para móviles */
@media (max-width: 768px) {
    .SectionFive {
        max-width: 100%; /* Ajustar a ancho completo de móvil */
        padding: 20px;
    }

    .SectionFive-card {
        min-width: 100px;
    }
}

/* Responsividad adicional para móviles */
@media (min-width: 768px) {

/* Formulario */
.SectionFive-form {
    min-width: 324px;
}
}

.section-five-success-message{
color: black;
font-size: .8em;
background: #00d976;
font-weight: bold;
}

.section-five-error-message{
    color: #ea377b;
    font-size: .8em;
    background: #190b10;
}

.section-five-success-message,
.section-five-error-message {
  visibility: hidden; /* El mensaje es invisible, pero sigue ocupando espacio */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.section-five-success-message.visible,
.section-five-error-message.visible {
  visibility: visible; /* El mensaje es visible */
  opacity: 1;
}




  

