.sectionFour {
  background-color: black;
  padding: 30px 20px;
}

/* Cabecera de la semana */
.sectionFour-week-header {
  padding: 5px;
  color: white;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding-bottom: 20px;
  max-width: 740px;
  margin: auto;
}

.sectionFour-week-day {
  background-color: #333;
  color: white;
  cursor: pointer;
  font-size: .8rem;
  text-transform: capitalize;
  margin: 0px 2px;
  background-color: rgba(230, 107, 154, 0.107); /* Relieve inicial */
}

.sectionFour-week-day.active {
  background-color: #ea377b;
}

.sectionFour-week-day:hover {
  background-color: #444;
}

/* Estilos para el horario de clases */
.sectionFour-class-schedule {
  background-color: #242424;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 740px;
  margin: auto;
}

.sectionFour-schedule-title {
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
}

/* Contenedor de cada ítem de clase */
.sectionFour-class-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  border-radius: 10px;
  background-color: #242424;
  margin-bottom: 15px;
  color: white;
  border: 1px solid black;
  background-color: rgb(234, 55, 123, .1); /* Relieve inicial */
  transition: all 0.3s ease-in-out;
}

/* Parte izquierda (70%) */
.sectionFour-class-info {
  width: 70%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Siempre alinea el texto a la izquierda */
}

/* Parte derecha (30%) */
.sectionFour-class-time {
  width: 30%;
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
  align-self: flex-start; /* Alinea el tiempo siempre a la derecha */
}

/* Estilos individuales para los elementos dentro de class-info */
.sectionFour-class-name {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sectionFour-sin-actividades {
  color: white;
  text-align: center;
  font-size: 1rem;
}

/* Hover effect */
.sectionFour-class-item:hover {
  transform: translate(2px, 2px);
}

/* Estilos responsivos */

/* Para pantallas de tableta */
@media (min-width: 768px) {
  .sectionFour-week-header {
    justify-content: space-between;
  }

  .sectionFour-week-day {
    padding: 10px 20px;
    font-size: 1.1rem;
  }

  .sectionFour-schedule-title {
    font-size: 1.6rem;
  }
}

/* Para pantallas de escritorio */
@media (min-width: 1024px) {
  .sectionFour {
    padding: 50px 40px;
  }

  .sectionFour-week-day {
    font-size: 1.2rem;
  }

  .sectionFour-schedule-title {
    font-size: 2rem;
  }

  .sectionFour-class-item {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .sectionFour-schedule-title {
    font-size: 0.8rem;
  }

  .sectionFour-sin-actividades {
    font-size: 0.8rem;
  }
}

.sectionFour-title{
  color: white;
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
  font-family: 'Arial', sans-serif;
}

