  /* Estilo para el contenedor del h1 */
  .class-header {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    color: #333;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilo para el ícono del h1 */
  .header-icon {
    margin-right: 0.5rem;
    color: black; /* Color principal del ícono */
    font-size: 1.5rem; /* Tamaño del ícono */
  }

  .calendar-page {
    background-color: #121212; /* Fondo oscuro */
    min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la pantalla */
    padding: 20px; /* Opcional, para dar espacio alrededor del contenido */
    color: #ffffff; /* Opcional: Texto blanco para contraste */
  }
  