  /* Estilo para el contenedor del h1 */
  .class-header {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #333;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
  }
  
  /* Estilo para el ícono del h1 */
  .header-icon {
    margin-right: 0.5rem;
    color: black; /* Color principal del ícono */
    font-size: 2rem; /* Tamaño del ícono */
  }

  .header-icons{
    display:flex;
    justify-content: space-between;
    gap:10%;
  }



  .header-icon-back{
    flex-grow: 1;
    font-size: 1.5em;
  max-width: 110px;
  color:black;
  background-color: white;
  }
